.new-resident-container {
    width: 60%;
    margin: 0 auto;
}

.asterisk {
    color: red;
}

.sex p {
    margin: 0;
}

.button1 {
    color: #414141;
    background-color: #dfdfdf;
}

.button2 {
    color: white;
    background-color: #9a0000;
    padding: 10px 20px;
}

.button2:hover {
    color: white;
    background-color: #890000;
}
