
#basic-info {
   width: 750px;
   height: 163.5px;
}

#profile-pic {
   padding: 0;
   width: 100%;
   height: 100%;
}

#specialty {
   background-color: #E4FFD7;
   color: #1D6000; 
}

#pgy {
   color: #72CB00;
   border: 1px solid #72CB00;
}

#table-area {
   margin-top: 20px;
}

.uploaded {
   color: #00691D;
   background-color: #DDFFD8;
   border: 2px solid;
   border-color: #DDFFD8;
}

.expired-missing {
   color: #CD0000;
   background-color: #FFD8D8;
   border: 2px solid;
   border-color: #FFD8D8;
}