h1 {
    color: #9A0000;
    font-size: 36px;
}

.col a {
display: block;
height: 100%;
width: 100%;
color: black;
margin-top: 5px;
box-sizing: border-box;
text-align: center;
}

button {
    margin-top: 10px;
}

#test-score-report {
    padding-top: 30px;
}

#test-score-report .row .col-2 p {
    font-weight: bold;
}

u {
    text-decoration: underline;
}

span {
    color: gray;
    font-size: 13px;
}

/* Table sort arrow at header */
.table-arrow{
    filter: brightness(0) saturate(100%) invert(83%) sepia(100%) saturate(0%) hue-rotate(316deg) brightness(115%) contrast(101%);
}

/* Rounded corners at first col */
.table-header th:first-child{
    border-radius: 8px 0 0 8px;
}

/* Rounded corners at last col */
.table-header th:last-child{
    border-radius: 0 8px 8px 0;
}


/* Level Badges */
/* This is the base css badge to indicate the badge is a level */
.level{
    background-color: white;
    color: #3F4046;
    border: 1.5px solid;
}

/* Level Badges */
/* This is the base css badge to indicate the badge is a level */
.level{
    background-color: white;
    color: #3F4046;
    border: 1.5px solid;
}

/* Sets the level badge border color for PGY/Research levels */
.pgy-1{
    border-color: #BF1818;
}
.pgy-2{
    border-color: #FEB03B;
}
.pgy-3{
    border-color: #F9D100;
}
.pgy-4{
    border-color: #1493CA;
}
.pgy-5{
    border-color: #1493CA;
}
.pgy-6{
    border-color: #8800F3;
}
.pgy-7{
    border-color: #E800B5;
}
.research{
    border-color: #01AE5B;
}

thead {
    background-color: #9A0000;
    color: white;
    border-radius: 50%;
}

.green-dot {
    width: 13px;
    height: 13px;
    margin-left: 20px;
    margin-top: 5px;
    background: #10b710;
    border-radius: 50%;
  }

  .pgy-level {
    padding: 2px;
    margin-top: 0px;
  }

  .red-dot {
    width: 13px;
    height: 13px;
    margin-left: 20px;
    margin-top: 5px;
    background: #d20909;
    border-radius: 50%;
  }