main{
    width: 90%;
    margin: 0 auto;
}
#message-area{
    height: 15em;
}

/* .current a{

} */

.tab-menu{
    width: 32%;
    /* background-color: rebeccapurple; */
    list-style: none;
    margin: 0;
}


.tab-menu a{
    text-decoration: none;
    color: black;
    text-align: center;
    /* background-color: red; */
}

.tab-menu a:hover, .current a{
    /* color: goldenrod; */
    border-bottom: 5px solid #FEDB56;
    border-radius: 5px 5px 0 0;
    font-weight: 450;
}

hr{
    margin: 0;
}

.tabcontent{
    display: none;
}

#custom-message{
    display: block;
}