main{
    width: 90%;
    margin: 0 auto;
}


#message-area{
    height: 15em;
}

/* .current a{

} */

.tab-menu{
    width: 32%;
    list-style: none;
    margin: 0;
    /* background-color: rebeccapurple; */
}

.tab-menu a{
    text-decoration: none;
    color: black;
    text-align: center;
    margin: 0;
}

.tab-menu a:hover, .current a{
    border-bottom: 5px solid #FEDB56;
    border-radius: 5px 5px 0 0;
}

.current a{font-weight: 500;}


hr{
    margin: 0;
}

.tabcontent{
    display: none;
}

#custom-message{
    display: block;
    border: 1px solid #dadada;
    border-radius: 10px;
    padding: 2em;
    margin: 0 auto;
    width: 90%;
}

.send-options{
    text-align: right;
}

#newAlertBtn{
    width: 20em;
}

.button-footer *{
    /* background-color: rebeccapurple; */
    width: 10em;
}