main{
    width: 90%;
    margin: 0 auto;
}

.broadcast-container{
    margin-top: 2em;
}

.broadcast-container hr{
    width: 91%;
    margin: 0 auto;
}

.tab-menu{
    width: 32%;
    list-style: none;
    margin: 0;
    margin-bottom: 2.5px;
    /* background-color: rebeccapurple; */
}

.tab-menu li{
    padding-bottom: 0.5em;
}

.tab-menu a{
    text-decoration: none;
    color: black;
    text-align: center;
    margin: 0;
    padding-bottom: 0.5em;
    transition: border 0.1s ease-in-out;
}


.tab-menu a:hover, .current a{
    border-bottom: 5px solid #FEDB56;
}


.current a{font-weight: 500;}


hr{
    margin: 0;
}

.tabcontent{
    display: none;
}

#custom-message{
    display: block;
    border: 1px solid #dadada;
    border-radius: 10px;
    padding: 2em;
    margin: 0 auto;
    width: 90%;
}

.kebab{
   cursor: pointer;
   -webkit-user-select: none; /* Safari */
   -ms-user-select: none; /* IE 10 and IE 11 */
   user-select: none; /* Standard syntax */
}

.hidden {
    visibility: hidden;
}

.kebab-menu{
    /* display: none; */
    
    /* text-align: center;
    margin: 0; */
    position: absolute;
    right: -4.5rem;
    top: -1.5rem;
    background-color: #fff;
    border: none;
}

.kebab-div{
    background-color: #F8F9FA;
    padding: 5px;
    margin: 0;
    border: 1px solid #dadada;
    border-radius: 5px;
}

.kebab-menu hr{
    /* background-color: #dadada; */
    background-image: none;
    margin: 1em 0;
}

#automated-alerts{
    width: 90%;
    margin: 0 auto;
}

#auto-alerts-table{
    max-height: 60vh;
}

#auto-alerts-table tr {
    position: relative;
}

#message-area{
    height: 15em;
}

.send-options{
    text-align: right;
}

#alertbtn-div{
    width: fit-content;
    position: absolute;
    top: 6.2em;
    right: 7em;
}

#newAlertBtn{
    width: 20em;
    background-color: white;
}

#newAlertBtn:hover{
    background-color: #9A0000;
}

.button-footer *{
    /* background-color: rebeccapurple; */
    width: 10em;
}

#redhead tr{
    background-color: #9A0000;
    color: #9A0000;
}