.new-resident-container{
    width: 60%;
    margin: 0 auto;
}

.asterisk {
    color: red;
}

.sex p{
    margin: 0;
}

.button1 {
    color: black;
    background-color: rgb(209, 209, 209);
}

.button2 {
    color: white;
    background-color: #9a0000;
}

.button2:hover {
    color: white;
    background-color: #9a0000;
}
